img {
  height: 50px;
  margin-right: 40px;
  margin-left: 20px;
}
.navbar-brand {
  color: #05164d;
  font-weight: bolder;
  font-size: 25px;

  margin-left: 60px;
}
.mat-button:hover {
  color: white;
  background-color: #1b16b5;
}
button:hover {
  background-color: #1b16b5;
}
.mat-menu-item:hover {
  color: #1b16b5;
}
mat-toolbar {
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
.menu-img {
  width: 50px;
}
mat-sidenav-container {
  margin-bottom: 50px;
}
